/* Dark theme syntax (Dracula) */

.dark .bg { color:#f8f8f2;background-color:#282a36; }
.dark .chroma { color:#f8f8f2;background-color:#282a36; }
.dark .chroma .x {  }
.dark .chroma .err {  }
.dark .chroma .cl {  }
.dark .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
.dark .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
.dark .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
.dark .chroma .hl { background-color:#3d3f4a }
.dark .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
.dark .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
.dark .chroma .line { display:flex; }
.dark .chroma .k { color:#ff79c6 }
.dark .chroma .kc { color:#ff79c6 }
.dark .chroma .kd { color:#8be9fd;font-style:italic }
.dark .chroma .kn { color:#ff79c6 }
.dark .chroma .kp { color:#ff79c6 }
.dark .chroma .kr { color:#ff79c6 }
.dark .chroma .kt { color:#8be9fd }
.dark .chroma .n {  }
.dark .chroma .na { color:#50fa7b }
.dark .chroma .nc { color:#50fa7b }
.dark .chroma .no {  }
.dark .chroma .nd {  }
.dark .chroma .ni {  }
.dark .chroma .ne {  }
.dark .chroma .nl { color:#8be9fd;font-style:italic }
.dark .chroma .nn {  }
.dark .chroma .nx {  }
.dark .chroma .py {  }
.dark .chroma .nt { color:#ff79c6 }
.dark .chroma .nb { color:#8be9fd;font-style:italic }
.dark .chroma .bp { font-style:italic }
.dark .chroma .nv { color:#8be9fd;font-style:italic }
.dark .chroma .vc { color:#8be9fd;font-style:italic }
.dark .chroma .vg { color:#8be9fd;font-style:italic }
.dark .chroma .vi { color:#8be9fd;font-style:italic }
.dark .chroma .vm { color:#8be9fd;font-style:italic }
.dark .chroma .nf { color:#50fa7b }
.dark .chroma .fm { color:#50fa7b }
.dark .chroma .l {  }
.dark .chroma .ld {  }
.dark .chroma .s { color:#f1fa8c }
.dark .chroma .sa { color:#f1fa8c }
.dark .chroma .sb { color:#f1fa8c }
.dark .chroma .sc { color:#f1fa8c }
.dark .chroma .dl { color:#f1fa8c }
.dark .chroma .sd { color:#f1fa8c }
.dark .chroma .s2 { color:#f1fa8c }
.dark .chroma .se { color:#f1fa8c }
.dark .chroma .sh { color:#f1fa8c }
.dark .chroma .si { color:#f1fa8c }
.dark .chroma .sx { color:#f1fa8c }
.dark .chroma .sr { color:#f1fa8c }
.dark .chroma .s1 { color:#f1fa8c }
.dark .chroma .ss { color:#f1fa8c }
.dark .chroma .m { color:#bd93f9 }
.dark .chroma .mb { color:#bd93f9 }
.dark .chroma .mf { color:#bd93f9 }
.dark .chroma .mh { color:#bd93f9 }
.dark .chroma .mi { color:#bd93f9 }
.dark .chroma .il { color:#bd93f9 }
.dark .chroma .mo { color:#bd93f9 }
.dark .chroma .o { color:#ff79c6 }
.dark .chroma .ow { color:#ff79c6 }
.dark .chroma .p {  }
.dark .chroma .c { color:#6272a4 }
.dark .chroma .ch { color:#6272a4 }
.dark .chroma .cm { color:#6272a4 }
.dark .chroma .c1 { color:#6272a4 }
.dark .chroma .cs { color:#6272a4 }
.dark .chroma .cp { color:#ff79c6 }
.dark .chroma .cpf { color:#ff79c6 }
.dark .chroma .g {  }
.dark .chroma .gd { color:#f55 }
.dark .chroma .ge { text-decoration:underline }
.dark .chroma .gr {  }
.dark .chroma .gh { font-weight:bold }
.dark .chroma .gi { color:#50fa7b;font-weight:bold }
.dark .chroma .go { color:#44475a }
.dark .chroma .gp {  }
.dark .chroma .gs {  }
.dark .chroma .gu { font-weight:bold }
.dark .chroma .gt {  }
.dark .chroma .gl { text-decoration:underline }
.dark .chroma .w {  }

/* Light theme syntax (GitHub) */

.bg { background-color:#fff; }
.chroma { background-color:#fff; }
.chroma .x {  }
.chroma .err { color:#f6f8fa;background-color:#82071e }
.chroma .cl {  }
.chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
.chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
.chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
.chroma .hl { background-color:#e5e5e5 }
.chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
.chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
.chroma .line { display:flex; }
.chroma .k { color:#cf222e }
.chroma .kc { color:#cf222e }
.chroma .kd { color:#cf222e }
.chroma .kn { color:#cf222e }
.chroma .kp { color:#cf222e }
.chroma .kr { color:#cf222e }
.chroma .kt { color:#cf222e }
.chroma .n {  }
.chroma .na { color:#1f2328 }
.chroma .nc { color:#1f2328 }
.chroma .no { color:#0550ae }
.chroma .nd { color:#0550ae }
.chroma .ni { color:#6639ba }
.chroma .ne {  }
.chroma .nl { color:#900;font-weight:bold }
.chroma .nn { color:#24292e }
.chroma .nx { color:#1f2328 }
.chroma .py {  }
.chroma .nt { color:#0550ae }
.chroma .nb { color:#6639ba }
.chroma .bp { color:#6a737d }
.chroma .nv { color:#953800 }
.chroma .vc { color:#953800 }
.chroma .vg { color:#953800 }
.chroma .vi { color:#953800 }
.chroma .vm { color:#953800 }
.chroma .nf { color:#6639ba }
.chroma .fm { color:#6639ba }
.chroma .l {  }
.chroma .ld {  }
.chroma .s { color:#0a3069 }
.chroma .sa { color:#0a3069 }
.chroma .sb { color:#0a3069 }
.chroma .sc { color:#0a3069 }
.chroma .dl { color:#0a3069 }
.chroma .sd { color:#0a3069 }
.chroma .s2 { color:#0a3069 }
.chroma .se { color:#0a3069 }
.chroma .sh { color:#0a3069 }
.chroma .si { color:#0a3069 }
.chroma .sx { color:#0a3069 }
.chroma .sr { color:#0a3069 }
.chroma .s1 { color:#0a3069 }
.chroma .ss { color:#032f62 }
.chroma .m { color:#0550ae }
.chroma .mb { color:#0550ae }
.chroma .mf { color:#0550ae }
.chroma .mh { color:#0550ae }
.chroma .mi { color:#0550ae }
.chroma .il { color:#0550ae }
.chroma .mo { color:#0550ae }
.chroma .o { color:#0550ae }
.chroma .ow { color:#0550ae }
.chroma .p { color:#1f2328 }
.chroma .c { color:#57606a }
.chroma .ch { color:#57606a }
.chroma .cm { color:#57606a }
.chroma .c1 { color:#57606a }
.chroma .cs { color:#57606a }
.chroma .cp { color:#57606a }
.chroma .cpf { color:#57606a }
.chroma .g {  }
.chroma .gd { color:#82071e;background-color:#ffebe9 }
.chroma .ge { color:#1f2328 }
.chroma .gr {  }
.chroma .gh {  }
.chroma .gi { color:#116329;background-color:#dafbe1 }
.chroma .go { color:#1f2328 }
.chroma .gp {  }
.chroma .gs {  }
.chroma .gu {  }
.chroma .gt {  }
.chroma .gl { text-decoration:underline }
.chroma .w { color:#fff }
